html, body {
    margin: 0;
    padding: 0;
}

.title-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    border: 2px solid #2c3e50;
    padding: 20px;
    margin: 0;
    background-color: #ff0000;
    box-sizing: border-box;
}

.hawaii-image {
    display: block;
    margin-top: 107px;
}

.location-image {
    position: absolute;
    top: 107px;
    left: 40%
}

.lehua-flower {
    display: block;
    position: absolute;
    top: 107px;
    right: -15px;
}

.waipio-valley {
    width: 400px;
    height: auto;
    margin-top: 50px;
}

.waipio-info {
    position: relative;
}

.waipio-text {
    position: absolute;
    top: 100px;
    left: 420px;
}

.mauna-kea {
    width: 400px;
    height: auto;
    margin-top: 200px;
    position: relative;
    left: 0px;
}

.mauna-kea-info {
    position: relative;
}

.mauna-kea-text {
    position: absolute;
    top: -250px;
    left: 420px;
}

.volcano-image {
    width: 400px;
    height: auto;
    margin-top: 50px;
}

.volcano-info {
    position: relative;
}

.volcano-text {
    position: absolute;
    top: 100px;
    left: 420px;
}


.waterfalls-image {
    width: 400px;
    height: auto;
    margin-top: 50px;
}

.waterfalls-info {
    position: relative;
}

.waterfalls-text {
    position: absolute;
    top: 100px;
    left: 420px;
}

.liliuokalani-image {
    width: 400px;
    height: auto;
    margin-top: 50px;
}

.liliuokalani-info {
    position: relative;
}

.liliuokalani-text {
    position: absolute;
    top: 100px;
    left: 420px;
}

h1 {
    margin: 0;
    font-size: 3em;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
